#projects{
  position: relative;
  padding: 5rem 1rem 1rem 1rem;
  transition: all .3s;
  box-shadow: 2px 2px 2px #00000083;
  overflow: hidden;
}
.prCardBody{
  position: relative;
  width: 90%;
  margin: 2rem auto;
}
.prCard{
  box-shadow: 3px 3px 3px #0000008e;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e2e2e2;
  height: calc(50vw/2);
  width: 50vw;
}
.prh1 {
  text-align: center;
}
#nChatLogo {
  height: 10rem;
  width: auto;
}
.mph1 {
  font-size: 2rem;
  text-align: center;
  margin: 10px 1rem;
}
.goBtn {
  float: right;
  text-decoration: none;
  border: 2px solid #3b7c7c;
  border-radius: 2rem;
  padding: .2rem 1rem;
  background-color: #3b7c7c;
  color: #fff;
  font-size: 1.2rem;
}
.goBtn:hover {
  color: #3b7c7c;
  background-color: #fff;
}
@media screen and (max-width: 550px) {
  #projects{
    width: 100vw !important;
    left: 0 !important;
    padding: 1rem;
  }
  .prCardBody{
    width: 95%;
    margin: 1rem auto;
  }
  .prCard{
    border-radius: 1rem;
    height: 25vh;
    width: 88vw;
    right: 0 !important;
  }
  .prCard p{
    font-size: .8rem !important;
    width: 40vw !important;
  }
  #nChatLogo {
    height: 6rem;
  }
  .mph1 {
    font-size: 1.3rem;
    margin: 0;
  }
  .goBtn {
    border-radius: 1rem;
    padding: .2rem .5rem;
    font-size: .9rem;
    margin: 1rem 0;
  }
}