.footer{
  position: relative;
  padding: 1rem;
  transition: all .4s;
  background-color: #3b7c7c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.footer span{
  font-size: 1.4rem;
}
.social a{
  cursor: pointer;
  padding: 1rem;
  color: #fff;
}
.social a:hover > i{
  transform: scale(1.5);
  transition: all .3s;
}