@import url('https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=IBM+Plex+Sans+Thai+Looped&family=Indie+Flower&family=Josefin+Sans&family=Jost&family=League+Spartan:wght@300&family=Redressed&family=Roboto:wght@300&family=Satisfy&family=Source+Sans+Pro&family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Indie+Flower&family=Josefin+Sans&family=Jost&family=League+Spartan:wght@300&family=Redressed&family=Roboto:wght@300&family=Satisfy&family=Source+Sans+Pro&family=Unna&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------- Home CSS ------------------------------------------------------------------ */

#Home {
    padding-top: 3rem;
}

.sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content {
    margin: 0.3rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

#featured-1 {
    background: url(img/aaar.jpg) no-repeat;
    /* background: url(img/featured.jpg) no-repeat; */
    background-size: cover;
    height: 34rem;
    box-shadow: 0 1px 2px #00000047;
}

.featured-1 {
    font-family: 'Redressed', cursive;
    position: absolute;
    left: 135px;
    top: 250px;
    text-shadow: 2px 2px 3px white;
}

.featured-1 h1 {
    font-size: 45px;
    margin-bottom: -10px;
}

.featured-1 p {
    font-size: 80px;
}

/* -------------------------------------------------------- About CSS -------------------------------------------------------------- */
#About{
    padding-top: 2rem;
}
#sliderrrr {
    margin-bottom: 2rem;
    padding: .6rem 1rem;
}

#aboutMe{
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    width: 80vw;
    margin: auto;
}
.abtMe{
    text-align: center;
    cursor: default;
    margin: .7rem;
}
p.abtMe{
    font-weight: lighter;
    font-size: 1.2rem;
}
h3.abtMe{
    text-decoration: underline;
}
.myInfo{
    margin: 1rem auto;
    width: 80%;
    font-size: 1.2rem;
}
table, tr, td{
    border: 2px solid gray !important;
    padding: .7rem 2rem;
}
tr:nth-child(odd){
    background-color: #d2fdff70;
}
tr:nth-child(even){
    background-color: #fbd2ff70;
}

/* -------------------------------------------------------- Project CSS ---------------------------------------------------------- */
#Project{
    padding-top: 4rem;
}
.prCardBody{
    position: relative;
    max-width: 80vw;
    margin: 3rem auto;
}
.prCard{
    box-shadow: 3px 3px 3px #0000008e;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #e2e2e2;
    height: 20rem;
    width: 50vw;
}
.left{
    right: -30vw;
}
#nChatLogo {
    height: 10rem;
    width: auto;
}
.mph1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 10px 1rem;
}
.prh1 {
    text-align: center;
}
.goBtn {
    font-family: 'Source Sans Pro', sans-serif;
    float: right;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 2rem;
    padding: 0 25px;
    background-color: #ffffff;
    font-size: 1.2rem;
    animation: changeColor 1s infinite;
    transition: 0.2s ease-in all;
}
@keyframes changeColor {
    0% {
        border: 1px solid #ff0000;
    }

    12% {
        border: 1px solid #ff00aa;
    }

    24% {
        border: 1px solid #d400ff;
    }

    36% {
        border: 1px solid #1900ff;
    }

    48% {
        border: 1px solid #00f7ff;
    }

    60% {
        border: 1px solid #00ff00;
    }

    72% {
        border: 1px solid #c8ff00;
    }

    85% {
        border: 1px solid #ffbb00;
    }

    100% {
        border: 1px solid #ff5e00;
    }
}

.goBtn:hover {
    color: #fff;
    background-color: #000000;
    animation: none;
}

.bestChoice {
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
    margin: 25px 0;
}

.bcLogo {
    margin: 0 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.bc {
    font-size: 29px;
    letter-spacing: 4px;
    color: rgba(15, 10, 29, 0.849);
    font-weight: bold;
}

.pcolor {
    color: #CD5C5C;
}

.bcLogo p {
    font-size: 10px;
    color: #808080;
}

.ncalc h2 {
    font-weight: lighter;
    margin: 0 1rem;
}

.ncalc img {
    border-radius: 7px;
    height: 50px;
}

.Spotifycss h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0 1.2rem;
}

.Spotifycss a{
    margin: 0;
}

/* -------------------------------------------------------- Contact Us CSS ------------------------------------------------------------ */
#ContactUs{
    padding: 2rem 0;
    min-height: 90vh;
    max-width: 70vw;
    margin: 0 auto;
}
.contContainer{
    margin-top: 2rem;
    background-color: #e2e2e2;
    padding: 2rem 3rem;
    color: #000000;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #0000008e;
}
#ContactUs h1{
    text-align: center;
}

label {
    display: flex;
    color: #2b2f43;
    font-size: 18px;
    padding: 0 0 3px 3px;
    justify-content: left;
    /* font-family: 'Source Sans Pro', sans-serif; */
}
.mb-3{
    border-bottom: 2px solid #838fa9;
}
.cusInp {
    background: transparent;
    /* font-family: 'Source Sans Pro', sans-serif; */
    border: none !important;
    outline: none !important;
    width: 100%;
    padding: .2rem .5rem;
}
textarea {
    resize: vertical;
}

#subBtnn {
    /* font-family: 'Source Sans Pro', sans-serif; */
    width: 100%;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    padding: .2rem;
    margin-top: 1rem;
    background-color: #3b7c7c;
    box-shadow: 1px 1px 1px #0000005b;
    letter-spacing: .2rem;
}

.subBtnn:hover {
    box-shadow: 1px 1px 5px #00000093;
}

/* --------------------------------------------------------- Common CSS -------------------------------------------------------------- */
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 239, 232);
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.navbar-1 {
    font-family: 'Acme', sans-serif;
    z-index: 5;
    margin: auto;
    max-width: 100%;
    padding: 2px;
    align-items: center;
    display: flex;
    overflow: hidden;
    box-shadow: 0 1px 2px #00000047;
    flex-direction: row;
    background-color: #ffffff;
}

#navbar-1 {
    position: sticky;
    top: 0px;
}

#logo-1 {
    border-radius: 50px;
    height: 45px;
    width: auto;
}

.logoname-1 {
    font-size: 20px;
    cursor: default;
    color: rgb(0, 0, 0);
}

#navbar-1 ul {
    margin: 0;
    padding: 0;
}

#navbar-1 li {
    list-style: none;
    display: inline-block;
}

#navbar-1 li a {
    color: #6a6666;
    text-decoration: none;
    padding: 11px 12px;
}

#navbar-1 li a:hover {
    padding: 12px 12px;
    border-bottom: 2px solid rgb(138, 136, 136);
}

.active-1 {
    color: #000000 !important;
    border-bottom: 3px solid #000000 !important;
    font-size: 18px;
    padding: 11px 12px !important;
}

.icons-1 {
    position: absolute;
    right: 10px;
    cursor: default;
}

.icons-1 :nth-child(1) {
    width: 19px;
    align-items: center;
}

.icons-1 a {
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 11px 0;
    margin: 4px;
}

.icons-1 a i {
    margin-left: 5px;
}

.icons-1 a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}

.icons-1 i {
    transition: 0.4s;
}

.icons-1 a:hover>i {
    transform: scale(1.3, 1.3);
}

footer {
    height: 40px;
    display: flex;
    padding: 3px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #000000b0;
    color: white;
}
/* -----------------------------------------------------feedback--------------------------------------------------- */
.thx4urfdbk{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: #3b7c7c;
    color: white;
    padding: 2rem 5rem 1.3rem 5rem;
    animation: show 1s linear 1;
    display: none;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes show {
    0%{top: 0;}
    30%{top: 60%;}
    42%{top: 40%;}
    60%{top: 55%;}
    80%{top: 45%;}
    100%{top: 50%;}
}
.tfyf{
    height: 20vh;
    width: 20vh;
    border: 4px solid white;
    border-radius: 50rem;
    margin-bottom: 2rem;
}